<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ message.fromName }}
        <span class="date">
          <!-- <ion-note>{{ message.date }}</ion-note> -->
        </span>
      </h2>
      <!-- <h3>To: <ion-note>Me</ion-note></h3> -->
    </ion-label> 
  </ion-item>
  <ion-accordion-group expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Factura: Mayo 29 2019</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col>Producto</ion-col>
            <ion-col>Cantidad</ion-col>
            <ion-col>Precio</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Factura: Julio 30 2019</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col>Producto</ion-col>
            <ion-col>Cantidad</ion-col>
            <ion-col>Precio</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Factura: Septiembre 19 2019</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col>Producto</ion-col>
            <ion-col>Cantidad</ion-col>
            <ion-col>Precio</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <div class="ion-padding">
<!--     <h1>{{ message.subject }}</h1> -->
  </div>
</ion-content>

